<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form method="POST" [formGroup]="registerForm" (ngSubmit)="register()" class="register-form" id="register-form">
          <div class="form-group">
            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="username" formControlName="username" id="username" placeholder="Username"/>
            <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
              <div *ngIf="formControls.username.errors.required" class="errMessage">Username is required</div>
            </div>
            <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
              <div *ngIf="formControls.username.errors.minlength" class="errMessage">Username must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" formControlName="email" name="email" id="email" email placeholder="Your Email"/>
            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
              <div *ngIf="formControls.email.errors.required" class="errMessage">Email is required</div>
            </div>
            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
              <div *ngIf="formControls.email.errors.email" class="errMessage">Email not valid</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" formControlName="password" name="password" id="password" placeholder="Password"/>
            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
              <div *ngIf="formControls.password.errors.required" class="errMessage">Password is required</div>
            </div>
            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
              <div *ngIf="formControls.password.errors.minlength" class="errMessage">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
            <input type="password" formControlName="re_pass" name="re_pass" (change)="ValidatePass()" id="re_pass" placeholder="Repeat your password"/>
            <div *ngIf="isSubmitted && formControls.re_pass.errors" class="help-block">
              <div *ngIf="formControls.re_pass.errors.required" class="errMessage">Password not valid</div>
            </div>
            <div *ngIf="doesMatchPassword == true" class="help-block">
              <div class="errMessage">Password didn't match</div>
            </div>
          </div>
          <div *ngIf="isFailed" class="alert alert-danger">
            <div>{{errMessage}}</div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
          </div>
        </form>
      </div>
      <div class="signup-image">
        <figure><img src="assets/images/code.svg" alt="sing up image"></figure>
        <a routerLink="/login" class="signup-image-link">I am already member</a>
      </div>
    </div>
  </div>
</section>
<div class="background"></div>
