<!-- Sing in  Form -->
<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="assets/images/social-life.svg" alt="sing up image"></figure>
        <a routerLink="/signup" class="signup-image-link">Create an account</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">Sign in</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="register-form" id="login-form">
          <div class="form-group">
            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
              <input type="text" formControlName="username" name="username" id="username" placeholder="Username"/>
            </p>
          </div>
          <div *ngIf="isSubmitted && formControls.username.errors" class="help-block errMessage">
            <div *ngIf="formControls.username.errors.required">Email is required</div>
          </div>
          <div class="form-group">
            <label for="password"><i class="zmdi zmdi-lock"></i></label>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
              <input type="password" name="password" id="password" formControlName="password" placeholder="Password"/>
            </p>
          </div>
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block errMessage">
            <div *ngIf="formControls.password.errors.required" class="error">Password is required</div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
          </div>
          <div *ngIf="isFailed" class="alert alert-danger">
            <div>{{errMessage}}</div>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="background"></div>
